html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}
body {
  color: #404040;
  height: 100vh;
  width: 100vw;
  background: white;
  font-size: 1rem;
  margin: 0;
}
h1 {
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  line-height: 1.2;
  color: #404040;
}
button,
input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
  overflow: visible;
}
.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}
.flex-row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

button {
  display: inline-block;
  border: 1px solid #0366ee;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  text-transform: none;
  padding: 0.75rem 1.25rem;
  margin: 0 0 0.5rem 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}
button:hover {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}
button:focus,
button:active {
  border: 1px solid #0250bc;
  background: #0250bc;
  color: #ffffff;
  text-decoration: none;
}
.edit {
  background: #fffb05;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}
.delete {
  background: #eb2222;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
  margin-left: 3px;
}

.edit:hover,
.edit:focus,
.edit:active {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: #ecea4a;
}
.delete:hover,
.delete:focus,
.delete:active {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: #e64c4c;
}
.cancel {
  background: #eb2222;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}
.cancel:hover,
.cancel:focus,
.cancel:active {
  color: white;
  border: 1px solid #818181;
  background: #e64c4c;
}
.update {
  background: #1fa2fa;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}
.update:hover,
.update:focus,
.update:active {
  color: white;
  border: 1px solid #818181;
  background: #69b2e4;
}
[type="text"] {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 0.75rem;
  outline: none;
  background: transparent;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  width: 100%;
  line-height: 1;
}
[type="text"]:hover {
  border: 1px solid #c5c5c5;
}
[type="text"]:focus,
[type="text"]:active {
  border: 1px solid #0366ee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #8cbcfe;
}
label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 0.5rem;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 0 1.5rem 0;
}

thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: center;
  padding: 1rem;
}
